<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root">
    <h1>Webpack 2 and Hot module replacement</h1>
</div>
</body>
</html>