<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root">
    <h1>Webpack 2 and Images</h1>
    <p>How to configure Webpack 3 to use images form template or css.</p>
    <img src=<%= require('./../images/Freesample.svg') %> />
</div>
</body>
</html>